
/* ASP.NET theme     */

.aspnet > header h2 {
    color: #8c31b2;
}

.aspnet progress {
    color: #8c31b2;
}

    .aspnet progress span {
        background: #8c31b2;
    }

    .aspnet progress::-webkit-progress-value {
        background: #8c31b2;
    }

    .aspnet progress::-moz-progress-bar {
        background-color: #8c31b2;
    }


.aspnet em {
    color: #8c31b2;
}
