
/* ASP.NET theme     */

.aspnet > header h2 {
    color: #8c31b2;
}

.aspnet progress {
    color: #8c31b2;
}

    .aspnet progress span {
        background: #8c31b2;
    }

    .aspnet progress::-webkit-progress-value {
        background: #8c31b2;
    }

    .aspnet progress::-moz-progress-bar {
        background-color: #8c31b2;
    }


.aspnet em {
    color: #8c31b2;
}

/* Don’t Do That! Do This! - Style*/

.do {
    color: #9f3;
}

.dont {
    color: #d10909;    
}

.warning {
    color: #fffe41;    
}