@{
    Response.Cache.SetValidUntilExpires(true);
    Response.Cache.SetExpires(DateTime.Now.AddDays(1));
    Response.Cache.SetCacheability(HttpCacheability.Public);

    string file = Server.MapPath(Request.CurrentExecutionFilePath);
    string css = Server.MapPath("~/content/all.min.css");
    string js = Server.MapPath("~/scripts/script.min.js");
    string data = Server.MapPath("~/app_data/items.xml");
    Response.Cache.SetLastModified(File.GetLastWriteTimeUtc(file));
    Response.AddFileDependencies(new[] { file, css, js, data });
}

<!DOCTYPE html>
<html lang="en-us">
<head>
    <title>Web Developer Checklist</title>
    <meta charset="utf-8" />
    <meta name="keywords" content="checklist, best practices, web development, performance, usability, mobile, website" />
    <meta name="description" content="The ultimate checklist for all serious web developers building modern websites" />
    <meta name="author" content="Sayed Hashimi @@sayedihashimi, Mads Kristensen @@mkristensen" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes" />
    <link rel="stylesheet" href="@Fingerprint.Tag("/content/all.min.css")" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <script src="/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>

    <header itemscope itemtype="http://schema.org/WebApplication">
        <h1 itemprop="name">Web Developer Checklist</h1>
        @if (Request.RawUrl.Length > 1) { 
            <h2>@Request.RawUrl</h2>
        }
    </header>

    <aside role="complementary">
        <a href="https://github.com/ligershark/webdevchecklist.com">
            <span class="ghFork"></span>
        </a>
    </aside>

    <div id="main" role="main">
        @RenderPage("~/views/_data.cshtml", null)
    </div>

    <footer>
        <a href="#" id="clearall">Clear all</a>
        <progress value="1" max="100">
            <span id="fallback">&nbsp;</span>
        </progress>
    </footer>

    <script src="@Fingerprint.Tag("/scripts/script.min.js")" async="async"></script>
    <script>
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-37479788-1']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>
</body>
</html>
