<?xml version="1.0"?>
<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" enableVersionHeader="false" requestPathInvalidCharacters="" />
    <customErrors  mode="RemoteOnly" defaultRedirect="~/" redirectMode="ResponseRewrite">
      <error statusCode="404" redirect="/" />
    </customErrors>
  </system.web>

  <system.webServer>
    <urlCompression doDynamicCompression="true" doStaticCompression="true" dynamicCompressionBeforeCache="false"/>

    <modules runAllManagedModulesForAllRequests="true">
      <add name="WhitespaceModule" type="WhitespaceModule"/>
    </modules>

    <defaultDocument enabled="true">
      <files>
        <add value="index.cshtml" />
      </files>
    </defaultDocument>

    <staticContent>
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="365:00:00" />

      <remove fileExtension=".js"/>
      <mimeMap fileExtension=".js" mimeType="text/javascript" />
    </staticContent>

    <httpProtocol>
      <customHeaders>
        <remove name="X-Powered-By" />
      </customHeaders>
    </httpProtocol>

    <rewrite>
      <rules>
        <rule name="Dangerous URL" stopProcessing="false">
          <match url="(&lt;)+" ignoreCase="true" />
          <action type="Redirect" url="/" />
        </rule>

        <rule name="fingerprint" stopProcessing="true">
          <match url="([\S]+)(/v-[0-9]+/)([\S]+)" />
          <action type="Rewrite" url="{R:1}/{R:3}" />
        </rule>

        <rule name="Remove WWW" stopProcessing="false">
          <match url="^(.*)$" />
          <conditions>
            <add input="{HTTP_HOST}" pattern="^(www\.)(.*)$" />
          </conditions>
          <action type="Redirect" url="http://windowsazurechecklist.com{PATH_INFO}" redirectType="Permanent" />
        </rule>

        <rule name="Map to specific site" stopProcessing="true">
          <match url="^(.*)$" />
          <conditions logicalGrouping="MatchAny">
            <!--<add input="{HTTP_HOST}" pattern="^localhost" negate="true" />-->
            <add input="{PATH_INFO}" pattern="\." negate="true" />
            <add input="{PATH_INFO}" pattern="asp\.net" />
          </conditions>
          <action type="Rewrite" url="/?site={HTTP_HOST}{PATH_INFO}" />
        </rule>

        <rule name="devchecklist" patternSyntax="ECMAScript" stopProcessing="false">
          <match url=".*" />
          <conditions logicalGrouping="MatchAny">
            <add input="{HTTP_HOST}" pattern="^windowsazurechecklist.com$" />
          </conditions>
          <action type="Redirect" url="http://windowsazurechecklist.com/{R:0}" redirectType="Permanent" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>

</configuration>