@{
    string[] folders = Directory.GetDirectories(Checklist.Folder).Where(f => !f.EndsWith("DemoList")).ToArray();
}

<nav role="navigation">
    <span>Menu</span>

    <ul>
        <li><a href="/">Home</a>

            @foreach (string dir in folders)
            {
                string dirName = Path.GetFileName(dir);
            
                <ul>
                    <li><a href="/@dirName.ToLowerInvariant()">@dirName</a>

                        @{var files = Directory.GetFiles(dir, "*.xml", SearchOption.TopDirectoryOnly).Where(f => !f.EndsWith("index.xml"));}

                        @if (files.Count() > 0)
                        {
                            <ul>
                                @foreach (string file in files)
                                {
                                    string fileName = Path.GetFileNameWithoutExtension(file);
                                    string url = file.Replace(Checklist.Folder, string.Empty).Replace(".xml", string.Empty).Replace("\\", "/").ToLowerInvariant();
                                    <li><a href="/@url">@Path.GetFileNameWithoutExtension(file)</a></li>
                                }
                            </ul>
                        }
                    </li>
                </ul>
            }

            <li>NodeJS (planned)</li>
            <li>PHP (planned)</li>
            <li>Python (planned)</li>
            <li>Rails (planned)</li>
            <li><a href="Sayed Hashimi9:03 PMhttps://github.com/ligershark/webdevchecklist.com/wiki/">Help needed</a></li>
        </li>
    </ul>
</nav>
