@{
    string[] folders = Directory.GetDirectories(Checklist.Folder);
}

<nav role="navigation">
    <span>Menu</span>
    <ul>
        <li><a href="/">Home</a>

            @foreach (string dir in folders)
            {
                string dirName = Path.GetFileName(dir);
            
                <ul>
                    <li><a href="/@dirName.ToLowerInvariant()">@dirName</a>

                        @{var files = Directory.GetFiles(dir, "*.xml", SearchOption.TopDirectoryOnly).Where(f => !f.EndsWith("index.xml"));}

                        @if (files.Count() > 0)
                        {
                            <ul>
                                @foreach (string file in files)
                                {
                                    string fileName = Path.GetFileNameWithoutExtension(file);
                                    string url = file.Replace(Checklist.Folder, string.Empty).Replace(".xml", string.Empty).Replace("\\", "/").ToLowerInvariant();
                                    <li><a href="/@url">@fileName</a></li>
                                }
                            </ul>
                        }
                    </li>
                                        
                    <li>NodeJS (planned)</li>
                    <li>PHP (planned)</li>
                    <li>Python (planned)</li>
                    <li>Rails (planned)</li>                    
                    <li>
                        <br />
                        <a href="https://github.com/ligershark/webdevchecklist.com">Help needed</a></li>
                </ul>
            }

        </li>
    </ul>
</nav>
