
@media screen and (max-width: 720px) {

    @-o-viewport {
        width: 380px;
    }

    @-ms-viewport {
        width: 380px;
    }

    section {
        line-height: 1.6;
    }

    h2 {
        font-size: 1.2em;
    }

    #main {
        -moz-columns: auto;
        -webkit-columns: auto;
        columns: auto;
    }

    body {
        width: 380px;
        overflow-x: hidden;
    }

        body > header {
            margin-top: 2.3em;
            text-align: left;
            text-indent: .6em;
        }

            body > header h1 {
                font-size: 1.4em;
            }

            body > header h2 {
                font-size: 1.4em;
            }

    /*nav {
        display: none;
    }*/

    .ghFork {
        width: 0;
        height: 0;
        background-image: none;
    }
}

@media print {
    body {
        width: 850px;
    }

    footer, #bonus {
        display: none;
    }
}

/* Win8 snapped view*/
@media screen and (max-width: 400px) {
    @-ms-viewport {
        width: 430px;
    }
}
