nav {
    display: block;
    min-width: 16px;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAR0lEQVQ4y+3QMQoAIAiFYY0mz+Zx39nealtEIBQ29o0KIr+SDNmYmcohJRnuPgcA5EbPFuvRDID8wOknWm3QpOhH/BGfRCwbes80G6vaaBIAAAAASUVORK5CYII=') no-repeat 0 2px white;
    *background: url(/Images/menu.png) no-repeat 0 2px white; /* For IE 6 and 7 */
    position: absolute;
    top: 1em;
    left: 1em;
    padding: 0 1.2em;
    border-radius: 3px;
}

    nav:hover {
        box-shadow: rgba(192, 192, 192, 0.47) 5px 5px;
    }

        nav:hover > ul {
            max-height: 300px;
        }

    nav > ul {
        padding: 0;
        max-height: 0;
        overflow: hidden;
        -moz-transition: max-height .4s ease;
        -o-transition: max-height .4s ease;
        -webkit-transition: max-height .4s ease;
        transition: max-height .4s ease;
    }

        nav > ul > ul {
            margin-top: .7em;
        }

    nav a {
    }
