body {
    padding: 0;
    font: 1.1em/1.2 arial;
}

    body > header {
        text-align: center;
    }

        body > header h1 {
            font-size: 2.5em;
        }

        body > header h2 {
            margin-top: -.7em;
            height: 1.2em;
            font-size: 2em;
        }

.ghFork {
    position: absolute;
    top: 0;
    right: 0;
    width: 125px;
    height: 125px;
    background-image: url('data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAH0AAAB9CAYAAACPgGwlAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAadEVYdFNvZnR3YXJlAFBhaW50Lk5FVCB2My41LjEwMPRyoQAAGlVJREFUeF7tnQeMXUWWhtmd3dnV7mp2FrGa0Wg0O8NgsjE2OWczNkGAENHZiChyzhlEFjknkaONbXKO7Uh3k4xNzmCDwQSndnft/5XqPFVf3/vevW1j3LiOdNTd79373uvz1Ql1btV9yxSJcw79J+lvpP8q/Xfpf/3www8bffHFF0+9+eab8yZPnuy++eYbN3PmTPf999/XVMfU9Mcff6zpTz/9VNNZs2Z10tmzZ9d0zpw5NZ07d24nnTdvnn+/9957z33yySfzdPyo9vb2rfTZVpH+Tfon6XLS/5b+p/TfpP8i5f/4Zyn/k///kmQkGGYB6NJlBbDv119//cxrr73WJnUaBIsdPMd8+umnvPdsvccDbW1t/fXZVpf+Xfpn6f9K64JPkhGMEoyzAHTpHwWwv4z+Et4+ZcoUN3369MUGHujm8R9++KH77LPPZum1Huzo6Oinz5YH/j+kCXwjwSDBMBgIY2E0vOb30j9I/yJD7/TVV19NfOONNxwe/+WXX3YCH0MvAl8Weh54fvK6n3/+OYrHPyzwm+qzAX4FaQJfRTBGMIpB/60Uw/1OiiH/LAP3EMA9ZfBJb731lvf4GTNmFHo7moW+KMB/99137v3333cff/zxPIV5PB7wPaUJfBXBEMEgGCY3xEv/Kl1VcPaYNm1a0+uvv97W3Nzs5P2LFTzKcQrzRJu5On+MijtC/RrSHtJSOR5d6iUYosjbqZAxJt7UU4YeKI9/RVV9G3k+m+PzoC9q8LxPqOrn6PUeEvgd9dl6SUuDX+oFIwRjoObtC+R26YrSXoIz6Ntvvx1LjpfX183xCws+hh6D57XJ8arqZ+k9R8yfP397fbYU6qsIRgjGiMFbmP8fKWH+/6QrSdcUHDy+xap6Te1q0H9O8Aad3xloH330EVM6nTJ7tHL8lvpsCXwVwQjBGBilEfjeAjVceb0Fj29tbfXz+IUBXwS9HnheD48nx+u8kam464JghGCMIo+PQ30fwRosg09Qjp9PZa+wnws9Bh9DX1jwKB5PjldVP0fn4fF99dnyirtC8OhSLcEIZcBbqB+kKVyTPN537uKqfmHBowCPf88OAsDzXKjq5+j1R2lKl4q7qoIRgjHqga/leMEarPDeJI93b7/9dqccnwe9LPj4sbxjYvi8F507crxef4Sq+h302fD4bKhP4IsEIwRjFIHvVNwJwADBbgF8tqovAz4Gasrjdizn2mvZuRwTg+c5agu99yz9zkWabfTZUo6vIhghGAOjNAQvCMNk9Gbz+LhzBxBTA2nwsuDtb57nXLpx1AumNph4PvZ4Qj2P4/HM4yWjUnHXBcEIwRhFHl8r7mTgPoIwZPr06ZMEvp2qftq0aZXAG2yOAS6QSRdEjtGjR7tTTjnF528GQgzeoPOTgUNVr/oC8DRwuCybirsqEoxQBrwVdwPJ8bRsqeobeXwM24ADlev4dP1Umbu7777bbbrppm6FFVZwhxxyiO8PcAzHx2HeqnoeD736ufp9dMjxlYo7dKmWYIRG4OMcP0RQmgS9g3BfJsejPM9xDBQDftddd7mtttrKbbzxxu7ggw92a6+9tjvmmGPcO++8449nwMTeHoMP83iuzo0IVX0q7qoIRgjGKAKfLe7o3L1ar6o32Pa3hXSAM1Dw8C233NL17NnTXXrppY7Icf7557v99tvPN4U4nvMtt8fQUV7TOncaHA8pBf1Dny3l+CqCEYIxMEpD8IIxVHm9mZYt3TtA5oHnJ48RsvFyaoGHH37Ye3ePHj1cr169vJfTC5g6daqbMGGC7wkwQDg3L8Sj/M3rU9WT4/V5xqTirguCEYIxGoH3xZ2ADJPHNyvHdwDfijCDbspjVrg98sgjbrPNNvOh/JprrnGnnXaa//2GG25wH3zwAdW5h271goX4PPAox9C5k9fTsh2hz7W5Pl8l8OhSLcEIGAPNA1+r6qV+Hi+gTYLehsdbVR8Dt9BOrh4+fLhbd9113YgRI3x4pnB76KGH/N9HHXWUO++887y348ExeDw+hm8KeB63Xr2OGxOuzqXirooEI5QBb6F+SKjq2/F4y/ExdAvvr7zyinvwwQc9JLwa6Nddd51bb731fFFHnh86dKibOHGiz/+cY/k9hh+DVyHnnwuRwnfu5PHWsk3FXVnBCMEY9cDHxR29+olAz1b1/DRvZ7pGNOB55uXM0bfZZhu30047uVGjRrnLL7/cbbTRRu7ee+/1xxh4Sx0GP/b6ONQHj2ex5UhN51hlm3J8FcEIwRiNcnzs8b5lS1Ufr6uPwRMJyNuEcCp2IOP9LS0t7tBDD3WbbLKJ/5vlW8zJGSScw7m8BhHEwJu3Ax2P5znShqaEenq2LbZM4KsIRgjGaAg+FHfDBanVqnrgxuDxWODhwTx38cUXu7XWWstdeeWV7ogjjnCrrbaaO+yww9yzzz7rBg0a5Cv74L0+HVxwwQVu3LhxNfB5BR6Pc45ef67ye1ps2RXBCMEYaB74TsWdPGyAvHgsGyoAD2Sgx+AJ2YBnfn744Yf74m6DDTZwxx13nLvvvvvcbrvt5tZYYw3Xu3dvd/TRR7tJkyb5n/x9zjnn+Nch1Ju3x9DxeJ4jSsjr5+n3RwSeUJ+KuyoSjFAGvOX4wQLTpDDvF2Lg1Vnwlt/pzj366KPuiSeecE8//bQbOHCgHwAXXnihz/Gnnnqq79Stv/76vkfP7hjOByyFHd6ehW7gOVZRggbOSHl9Ku6qCkYIxqgHPi7uWIEzHm+Pq3rUwjyPWWFHJ27YsGG+cXPZZZf5S7l4OFO5DTfc0AOnqmcAcS4h3qDnebuBD507ijuq+u302VKoryIYIRijYY6XEuoHKYy3UNhR4FG84enm7cCzCzAMjDPPPNPnd44lQhx55JFulVVW8Z27PfbYw+27775u/PjxnebwhPgi8PzkON5Xg0uH+uKucgNnqReMEIxRBrxfbKnCqgXPBableINv4PFgumvou+++60444QS3+uqru3XWWcfnfICffPLJvsiL5+82d0eLPJ6owDw+6tyl4q6qYIRgDDQPfFzc9ZahWVc/bsqUKfMBT0i3UG9eb8Udof7mm2/2YR5PHzBggDvooIO851PB47UMEgYL51ol3yjUcww5nqpex9G54yJN2klTRYIRyoCv5XgBa7KqHnAGHo3BA3fkyJFu7Nixvkt3xRVX1KZuRASrAyy/c37s9fXAh84diy25OpcWW1YVjBCMUQ98p+JOkMaS48nhQMNbsx5vBd5TTz3ldtxxR/8TDwc0isfSzbvxxht9KmAAcW7R/N2go7xXmMf74k4eX7TYMoX6IsEIwRhF4DsVdwLCPL7VqnqAASsLnsfpzTNvZ32cAad9y+XZ7bff3qcAogDTPgaKgbdQn+ftKFGBczR4mM6xrp6lVynHVxGMEIyBURqCp7iTJ7cAFfB5Od4KPEAT8i2kP/fcc/7iDO3anXfe2bdxb7rpJv8c4DnfQn2Rx/M7gwOP1+vO1WNpJ01XBCMEYxR5fFzcsdiSHD9B8/P5LKKwMF8En1Twwgsv+OvxQCcC3HLLLb5ps/nmm7tbb73Vey/HlgGPcgxRRFU9u2XTTpquSDBCGfAW6gcJUNPUqVPbyPN4NMDywj0FGMup+vbt66/I0cHbfffd/SBgDk/b9qqrrvIeXxV8qOpZgTMq5PhU3FURjBCMUQ98p+JOBqeq72BaRogGehY8IJmjP/bYYx743nvv7XP6tdde61fkrLjiiu6kk06yrVD+eM4vA57niRI6167Hp500VQUjBGMUgV+guItzPKHcwjxq3k4kAA5NGnI6RRwh/4ADDvANHBZcMjCefPJJP+3jHAYPFX12KhdD52/ehxmCPscsPD6E+pTjqwhGCMbAKA3By9tszZ1vxAAMEEDD2+PCjmKOhRasxOFSLJdkjz/+eL/mbtttt/U5nsuygGfAxN5u0LPgUY5jUEktx6firqpghGCMIvC14k4G5nr8UIGdpBzfjtdbiEYBb1M5wLPmjosw5HJ+oiuvvLLr16+fO/vss3379v77768NHvN2C/Pm9TF0/gY8KUIeP0ePsQIn7aSpKsEIGAOtB95C/UBBbWppaWnD67PgzeOZwj3zzDPutttu86tuuNa+xRZbeOj77LOPW3PNNf2Ginj+XgY8yjFcnVOkYCcNy6vTTpqqEozQCHyc44cIbpO83Xs8gAGeBU/uJw+zZp6NE4T322+/3Vf4rLvjceoAjjXwFupj+HngORaP13vM1vF07tJOmqqCEYIxisBnizs8/lXL8Xhs1uN5jAGBV+65555uu+22895NvrfWLc8beM7h3Bh+PfA8T12gKR3bpNk0mXbSVBWMEIxRlOOzxd1QeVoz+ds83sDjubHHU7WzpOqOO+7woACOkv8ZNKyv5xgGQAy/Hnj+No/Xe8/R32knTVcEIwRjNARPcacw7PfHt7a2duD1AAME0ACPUqwxIOJdMsAGFnN6okCfPn38bhqWYfEcUcJeC/CE+yKPpxYgmqiqZ0NF2knTFQlGwBhoHvhaVS/183jBbZLH+85dNtTbALDqHm8GbFNTk78wQ9uWjZJU+MznX3zxRT84OKYseNJB6NxxPf5h5fi0k6aqBCOUAV8r7mTwJnr1XKEDLLDQeADEIf+iiy7yvXkWZdDfp9DD40kBPMblWS66MGCAGhd3WegojzNY6NzpfZnOpcWWVQUjBGPUAx8Xd6y5m2A5HrDAjuHH4Z7O3dZbb+0hs2aeNfZ77bWXX2FLqN911119C5cBxIDJTunw+FgBz3vY9Xgdy9W5tJOmqmCEYIyGOV7KYkt69f4Gh7YCBy9FDTzeTgqgT09Fz/ydeTvr6Q888EDv/YR9pnZ08HgdzuFcwFtxZ/DjAQB4jiHUS/F41tWn4q6qYIRgjIbgKe5k9OGC2sqqGebiAIuh4+0MBjyS3jxefvXVV/tWLfDZPUte52IN4Z5FGUQHzuN8XguwNgCy3g943isUjfMU5tNOmq4IRgjGQPPAL1DcyeBjlePb6MgBzaBbbsfbSQFM3bgci8fj6Uzh2CvHhRqWV7M9mhDPa3AeymvwWjYIsvlehZz/m169PH6eBkjaSdMVCUYoA95y/GCB4nr8fDweyAYrLuoACnyaNhwHcNs1c+655/pQbU0cXoOFFRpMvr2LN/NaBt7CPeBjj9dMYLY+TyruuiIYIRijHvi4uBssWONtXT3gzONRwOPBwLS5PDc/4Fr8GWec4QcBUzeUdEA/n+vyFHws0mADBoMkrvDjMI/H8xg9ASmdO+5smW5bXlUwQjBGwxwv9TtpKO4sxwMe4NlwD3zA3nnnnX46x5zfgAON3M66u1VXXdUDZ6UOtzxjaxUzBl7LirwYPMpzYR4/W8/RuUs7aaoKRgjGKAOeDRXDBa+FsMyc3HK8KVDwVuADmQ6bhX1yPr16Kn0uybKFmn10RA6WYNHcYXMl5/NaBt4qerwd8BR+hHrBp3OXFlt2RTBCMAaaBz4u7noLBDtpxssrfY43SDF4gx+HfLZS7b///r6y5wZI/I3X4v3sh2d9PcUfRRuRIhvmY/C8D8dpYM3V43wnTdpJU1WCEcqAj3M8nTt/PR6wQEJj+AYeb6ddy0ZJqnnOAVq4+7QHD2j2u1P5n3XWWf5cXi8v1AOf3/F4ned30kTFXWnwS71ghGCMeuCzxd1YvN1yPLBj+JbnGRRjxozxq2644QHACevXX3+9/wk81u3h8eydp8vHYMmG+rwcz7lKH7P0fL3FlinUFwlGCMYoAt+puBMEFlv6nTTAs84deZef5u08zvP9+/f3bVnudsW9b7gww9p6KvfTTz/dXXLJJT7vM6cnJXBePfB4PO8VIgWdO+5lm3bSVBWMEIyBURqCFwy/k4aqHsWzzduBjrfjtRR2NG922GEHv+yKGxRzbf755593J554on+MdXdclmUh5gMPPOALQKIErwl4AJPnDX7W48nxGghsmkzFXVXBCMEYRR4fF3d9CPUC5HfSWOfOQjxAgGbgCeN4NVfjCOfHHnusX3jJvXDwdOCjXKYN+939YHj55ZdrDRzz+jjU2zyeHK/nWV7NFxWkxZZVJBihDHgL9f47aZTf25hvE5oBDnjL7TxG2CbUU6nTp+emCNwcgZzPPnmu0jFv5yodUzryO8uvuVkSxV4c7mNvJ9TzeKjq5+g5vqEi7aSpKhghGKMe+Li4GyKw3NmygzwPYEAUgQcyULkJEqtr2SjJ/P2ee+7x++bo2uH1HEdvgLk+UCkaCfVxmAc6ymMMDh07S1GBzl2lxZbhX1+6RYZoBL5TjpfRuUjTTH7H48nJeLzldyvsAE94ByZ53O52RQTAw/F+LtSwd562LWGe/M9AYGEG6cLye1zY8ZP3ijp3lXbShH87iYxh4EsVdwIxTN7YjLfH83g8HiCABxrgadLg7Xg0l2aJAOR3gDPFY2sVRR2XaWnbEurJ/RR5Rd7O7zyHx5Pj9XvpnTThX06CyCCNwNeKOxmYxZbspHlV3t6O11sRlgUPPDyYKRy7ZRgA9OUJ6fTvWZRBFKB9yyDgOAYS0YLXynbtAG7K+xAhFOqp6mnZ2leMFhZ34d9NYiKjGPiiUJ8t7gbKy/130hDGycWAR2PwPA587oEDYO51x1yd5VpsmCQKLL/88v7u1YR+QjfRg4GUncbF4M3rQ46fi8crx9ddbBn+1SSxyDBlwHcq7gSVqr7dcjweauCtwONxYNKXZ9rHdO3xxx/3nr7SSiu5XXbZxV+u5Q6X7JilqGPAWAShms/meAPP+4WqXof4250VFnfh30ySFRmnEfhs526gwjFfP+ZzduzxADHwhGyewzPZNMH+ePr1XKihoqcvzxU6BoZV8YAnYjCA8PrsHN7yPI8zUKjq9Z706vvpsy2Q48O/mCRPZCADX6q4k9H9d9KQ3ynegByDt3APeJosLJ/miwnYDs12ae5zxyocqnfuaMk0j/YtxSBRgqjADhteI/Z4g84A4H1C5y7eSbO69O9SwC8X/r0kRSIjlQZPcScQwwSJO1t2kOMBnAceiKQClk6T2/n+GTZP0raliKOdyxcXDBkyxA8gBgArb2nxkhYsz5PjDbqB53HL8fo8dmdLA/+n8K8lqScylIEvCvW1ql7qL9IItu/ccXUOyAYejT0eLwYQUzUaN3g86+tZfMlUjvk7FT8DgIs5L730Ui2CGPQ4xJvyPJd19drzdAweT6gH/N/Cv5WkkchYZcFbjucGh3ybtN9Jg2cbdPN4K+6o6ingqOpZVs0KG9bR880U5Hn+prrnJsfkeXI8rxG3abPQUR5nQFHc6X0f1GOssl0l/EtJyogMVgZ8XNWz5s7vpEHxbGAZeIo7m85xkYZuHevnma+z4hbFw4kAbKiguueWKQwUBk0MvQg87xNyPDtpHpDHbxX+nSRlRTANfKniDo8X7BZar3keH4NnVQ39eL5qDA/nbhjABj6dPOCzsYJj86AXgec4QSfH4/Gjw7+SpIoIZhXwdO6GC1Qr+Z2izLw9DzzzeBZZ4NU0a7iLJefRlqWLxx0yLGLkQS8Cz/GW48O/kaSqCKaBrxfqs8XdWHl7G6ts63k8c206d3g283jyPJU9Uzs6eBSBcfUeN2rqgedxXjv8C0m6IoJZFrzl+MGq1rkHznxyPIWceT0/gWngKe64vx05nRBvXzzE84R2oDNPL4KOZqG3t7f788LHT9JVEcwy4DvleMEdR45HAZz1eAYDIZzn6Npx9Y2wD3Ce51hCewy9Cvjw0ZMsjAimgS9V3IWqvgVvr9e543FA85O/Ac7zACe0Z6GXBR8+dpKFFcGsAp4NFWyT9t80GV+PN/AGH9AGm+fi3nse9DLgw0dOsihEMA18vVBvxZ3fSSPY4y3HA9nA2gAwNdh4eOzlplXAh4+bZFGJYJYFX8vxCt9Nyu9tdnUOwLEC29SAx56eBz5BX8wimGXAxzme5dVjmY7Zuvo82LGXLwz48DGTLGoRzEbgs527ASraWtn2bFV9WfAx9DLgw0dM8nOIYBr4UlW9YPqdNHTg8HhrteZBrwc+hp4HPny8JD+XCGYjj4+LO67Hs65+4uTJk9ttceSiBh8+WpKfUwSzLHjL8YPo3CnU167Hx6F+YcGHj5Xk5xbBLAM+zvFDFN6b5PEdXHZlHr+owIePlGRxiGA2Ar9AcaeqvtlyPB5v0OuBj6HngQ8fJ8niEsE08GVbtsOU15up6pnH4/FF4A16I/DhoyRZnCKYjcB3Ku4ElFW2rwp8B50767/X8/Ys+AR9CRDBNPBFoT4Gv6ZgDZw5c6Yv7vD4uKqvCj58hCS/hAhmGfBxqB8Sqnq/kybO8VXAh7dP8kuJYDYC3ynHB4/n68f8TQvjzl1Z8OGtk/ySIpgGvmxxh8c3W6+eS695Hp+gL+EimFXA+500M2bM8F8xSq++KMfngQ9vmWRJEME08EWhvlNxJ4ADFN79ZVng06vPC/VZ8OHtkiwpIphlwVuOH6wpnL9tOTk+7twVgQ9vlWRJEsEsAz4u7ujVTwB6vao+QV/CRTANfKniTmGbLyrwl2XrVfUJ+hIuglkFPMXdcFbZcoGmqHOXoHcDEUwDXy/UW3HXWx4/UAXdOEFvAz5LqLPeHl46yZIsglkWfC3U07mzqt7m8Ql6NxPBLAPeQn0vOndcjyfMA96q+gS9m4lgNgJvOZ5Q31Mev4c8flK2qg8vl6S7iGAa+HrFHaGeO0qtKs/ekzV3tGuBT+cuvFSS7iSC2cjjCfXcSeqv0h4Cv5Oq+pfI8RR34WWSdDcRzHrgfy9dTorXA/8vmqr11xTuGXl8uilBdxbBLALP7UB/J11Wyg0D8fw/Cnzf6dOnPxVOT9JdRTDzwHPjX24AjNcDH89nACwr8BuFU5N0ZxFMAx8Xd7+V4vXAx/MZAF7DaUm6uwhm1uO5t7vBx/MZAF7DKUl+DSKgMXjzeuDbAPAaDk/yaxFBzYI3ZQB4DYcm+TWJwGbhd9JwWJJfowhwriZJkiRJkiRJkiRJkqR7yDLL/D8xmJmUQUxxcAAAAABJRU5ErkJggg==');
    *background-image: url(/images/forkme_right_white_ffffff-125.png);
}

a {
    color: gray;
}

#main {
    margin: 1em auto;
    padding: 0 1em 3em 1em;
    font: inherit;
    -moz-column-width: 350px;
    -webkit-column-width: 350px;
    column-width: 350px;
    -moz-column-gap: 2em;
    -webkit-column-gap: 2em;
    column-gap: 2em;
}

section {
    -webkit-column-break-inside: avoid;
    overflow: hidden;
    margin: 0 auto 1em auto;
    width: 370px;
    column-fill: auto;
}

    section h2 {
        margin: 0;
    }

ul {
    padding-left: 1em;
    list-style: none;
}

    ul a {
        font-size: .9em;
    }

    ul :not(.optional) + .optional:before {
        display: block;
        margin: 1em 0 .3em 0;
        content: 'Optional:';
        font-weight: bold;
    }

    ul li ul {
        overflow: hidden;
        padding-left: 2em;
        max-height: 0;
        -moz-transition: max-height .5s ease;
        -o-transition: max-height .5s ease;
        -webkit-transition: max-height .5s ease;
        transition: max-height .5s ease;
    }

        ul li ul li:last-child {
            margin-bottom: 1em;
        }

.info {
    display: inline-block;
    margin-left: .6em;
    width: 15px;
    height: 15px;
    border-radius: 12px;
    background: #369aca;
    color: white;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    font-style: normal;
    font-size: .7em;
    cursor: pointer;
    -moz-transform: translate(0, -2px);
    -ms-transform: translate(0, -2px);
    -o-transform: translate(0, -2px);
    -webkit-transform: translate(0, -2px);
    transform: translate(0, -2px);
}

    .info + ul li:first-child {
        margin-top: .5em;
    }

input[type="checkbox"] {
    margin-right: 5px;
}

    input[type="checkbox"]:checked + label {
        color: green;
        text-decoration: line-through;
    }

/*#region Footer */

footer {
}

    footer a {
        position: fixed;
        right: 1em;
        bottom: 1.5em;
        display: inline-block;
        background: white;
    }

#bonus {
    position: fixed;
    right: 1em;
    bottom: 0;
    z-index: 1;
    margin: 0;
}

    #bonus mark {
        background: none;
    }

progress {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1.2em;
    border: none;
    background: #eaeaea;
    color: #369aca;
}

    progress span {
        display: block;
        background: #369aca;
    }

    progress::-webkit-progress-bar {
        background: #eaeaea;
    }

    progress::-webkit-progress-value {
        background: #369aca;
    }

    progress::-moz-progress-bar {
        background-color: #369aca;
    }


/*#endregion */

@media only screen and (max-width : 768px) {

    @-ms-viewport {
        width: 400px;
    }

    body {
        width: 410px;
        line-height: 1.3;
    }

        body > header {
            text-align: left;
            text-indent: .6em;
        }

            body > header h1 {
                font-size: 1.7em;
            }

            body > header h2 {
                font-size: 1.4em;
            }

    .ghFork {
        width: 0;
        height: 0;
        background-image: none;
    }
}

/* Win8 snapped */
@media screen and (max-width: 400px) {
    @-ms-viewport {
        width: 470px;
    }

    body {
        overflow-x: hidden;
        font-size: 1em;
    }

    h2 {
        font-size: 1.2em;
    }
}
