
/*
    The class name ".demolist" is automatically being assinged to this theme by the website.
    If you which to rename this theme, just change the name of the folder and the class name accordingly.

    The class name will always be lower-case and any dots (.) in the name will be removed.
*/

.play-framework progress {
    color: orange;
}

    .play-framework progress span {
        background: orange;
    }

    .play-framework progress::-webkit-progress-value {
        background: orange;
    }

    .play-framework progress::-moz-progress-bar {
        background-color: orange;
    }


.play-framework em {
    color: orange;
}
