
/* ASP.NET theme     */

.aspnet progress {
    color: #742894; 
}

    .aspnet progress span {
        background: #742894;
    }

    .aspnet progress::-webkit-progress-value {
        background: #742894;
    }

    .aspnet progress::-moz-progress-bar {
        background-color: #742894;
    }


.aspnet em {
    color: #742894;
}