
/*
    The class name ".demolist" is automatically being assinged to this theme by the website.
    If you which to rename this theme, just change the name of the folder and the class name accordingly.

    The class name will always be lower-case and any dots (.) in the name will be removed.
*/

.playframework progress {
    color: orange;
}

    .playframework progress span {
        background: orange;
    }

    .playframework progress::-webkit-progress-value {
        background: orange;
    }

    .playframework progress::-moz-progress-bar {
        background-color: orange;
    }


.playframework em {
    color: orange;
}
